/*FOOTER*/
footer {
  background: linear-gradient(180deg, #ffffff, #00495a);
  color: #ffffff;
}

footer a {
  color: #ffffff;
  font-size: 14px;
  transition-duration: 0.2s;
}

footer a:hover {
  color: #54D007; /* Green color */
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #FFFFFF;
}

.footer-middle {
  padding-top: 2em;
}

/*SOCIAL ICONS*/

ul.social-network {
  list-style: none;
  padding: 0;
  display: flex; /* Changed to flex for better alignment */
  align-items: center; /* Centers items vertically */
  justify-content: center; /* Centers items horizontally */
}

ul.social-network li {
  margin: 0 10px; /* Adjust as needed */
}

.social-network a {
  background-color: #009088;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  transition: all 0.2s ease;
}

.social-network a i {
  color: #595959;
  transition: color 0.8s;
}

.social-network a:hover i {
  color: #fff;
}

.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a:hover {
  transform: rotate(360deg);
}

