/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #ECECEC;
  --matr-navbar-bg-rgb: 236, 236, 236;
  --matr-navbar-text-color: black;
}

/*Navbar*/
.nav-link {
  margin: 0 25px 0 25px;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-dark: var(--matr-navbar-text-color);
  --bs-dark-rgb: var(--matr-navbar-bg-rgb);
  --bs-body-font-family: 'Raleway', system-ui;
  /*--bs-body-bg: #3f7d2b;*/
  /*background-size: cover;*/
  /*background-image: url("/images/background.png");*/
  /*--bs-body-color: white;*/
}

/* Set the SignIn and SignUp alerts background. */
#signup-page {
  background: url("/images/light_background.jpg") no-repeat center center fixed;
  background-size: cover;
}

#signin-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Set the SignIn and SignUp alerts background. */
#signin-page {
  background: url("/images/light_background.jpg") no-repeat center center fixed;
  background-size: cover;
}

.faq-accordion div {
  --bs-accordion-btn-bg: #D1D1D9;
  --bs-accordion-active-bg: #65b9a6;
}

.filter-container {
  margin-bottom: 10px;
  font-size: 20px;
}

 /*Landing page */
#landing-accordion div {
  --bs-accordion-btn-bg: #D1D1D9;
  --bs-accordion-active-bg: #65b9a6;
}

/*#landing {*/
/*  background-color: #a8c87e80;*/
/*}*/

/* Define custom styles */
.gray-background {
  background-color: var(--bs-gray-200);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

.search-header {
  font-size: medium;
  color: #0c8f1e;
  margin-bottom: 1px;
}

.information-card {
  position: fixed;
  top: 0;
  left: 0;
  width: 800px;
  height: 100%;
  z-index: 5000;
  background-color: #fff;
  padding: 20px;
  transition: transform 0.5s ease;
  transform: translateX(-100%);
}

.information-card.active {
  transform: translateX(0);
}

.slide-in {
  left: 0;
}

.fade-out {
  opacity: 0.5;
}


/* Define custom styles */
.lightgreen-background {
  background-color: #9fd8d6;
  color: var(--bs-dark);
}

/* Add Activity Form */
.add-activity{
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
}

.submit-button {
  background-color: #65b9a6 !important;
  color: #fff;
  border: none;
  padding: 15px 30px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  font-family: Arial, sans-serif;
  display: block;
  margin: 0 auto;
}
.submit-button:hover {
  background-color: #9fbed8 !important;
}

.border-light-blue {
  color: #9fd8d6;
}

.border-light-blue{
  color: #004c8b;
  font-weight: bold;
}

.gradient-custom {
  background-image: linear-gradient(to bottom right, rgb(158, 214, 212), rgb(0, 76, 91));
}

/* Chat CSS Start */

.gradient-custom {
  /* fallback for old browsers */
  background: #fccb90;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to bottom right, rgb(157, 212, 210), rgb(0, 75, 90));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to bottom right, rgb(156, 210, 208), rgb(0, 74, 89))
}

.mask-custom {
  background: rgba(24, 24, 16, .2);
  border-radius: 2em;
  backdrop-filter: blur(15px);
  border: 2px solid rgba(255, 255, 255, 0.05);
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}
.text-white.break-words { /* Assuming this is the class applied to your message text */
  word-wrap: break-word;
}

.message-container {
  max-width: 80%; /* Adjust as needed */
}

.message-text {
  word-wrap: break-word;
}

.message-container .message-content {
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal !important; /* Force override */
}

.calendar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px; /* adjust as necessary */
  background-color: #fff;
  color: #000;
  text-align: center;
  font-family: Arial, sans-serif; /* Use your desired font-family */
  border: 0px solid #ccc; /* subtle border */
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* optional shadow for depth */

}

.calendar-overlay-day {
  font-size: 24px; /* large font size for the day */
  padding: 2px 0; /* some padding at the top */
  border-bottom: 0px solid #d9534f; /* a red bar to separate day and month */
}

.calendar-overlay-month {
  font-size: 12px; /* smaller font size for the month */
  background-color: #d9534f; /* background for the month part */
  color: #fff; /* white text on red background */
  padding: 2px 0; /* padding for the month part */
}
