/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #ECECEC;
  --matr-navbar-bg-rgb: 236, 236, 236;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-dark: var(--matr-navbar-text-color);
  --bs-dark-rgb: var(--matr-navbar-bg-rgb);
  background-size: cover;
  background-image: url("/images/background.png");
  color: white;
}

/* Set the SignIn and SignUp alerts background. */
#signup-page {
  background: url("/images/light_background.jpg") no-repeat center center fixed;
  background-size: cover;
}

#signin-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Set the SignIn and SignUp alerts background. */
#signin-page {
  background: url("/images/light_background.jpg") no-repeat center center fixed;
  background-size: cover;
}



/* Define custom styles */
.gray-background {
  background-color: var(--bs-gray-200);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

